/* COMENTÃRIOS */

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1d1d;
}

body h1 {
    font-size: 3.5em;
    color: #f5f6fa;
}

body > header{
    background-color: #2f3640;
    padding: 50px 20px;
    color: #f5f6fa;
    min-width: fit-content;
}

body a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 12px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
    margin-top: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 21px;
}

section h2 {
    font-size: 36px;
}

time {
    font-size: x-small;
}

#sports {
    background-color: rgba(0, 255, 0, 0.239);
    min-width: fit-content;
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f69f;
    min-width: fit-content;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#entertainment {
    background-color: rgb(170, 173, 255);
    min-width: fit-content;
}

#entertainment .articles article a {
    background-color: rgb(84, 4, 102);
}

#tech {
    background-color: #83cffe;
    min-width: fit-content;
}

#tech .articles article a {
    background-color: #4a7691cb;
}